/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.08.2019, 09:08:30
    Author     : holgerleitermann
*/

.dashboardCard {
    
    margin-bottom: 1.8rem;
    
    h4.card-title {
        border-bottom: 1px solid $card-border-color;
        padding-bottom: 0.5rem;
        margin-bottom: 1.3rem;
    }
    
}