/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body.highlight.detail {

    .highlight-shopResource {
        .ms-container .ms-list{
            height: 60px;
        }
    }

    .highlightLanguages {
        padding-top: 1rem;
        border: 1px solid $input-border-color;
        margin-bottom: 1rem;
    }
    
    img.list-language-flag {
        height: 40px;
    }

}
