/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.01.2020, 15:21:42
    Author     : holgerleitermann
*/

body.user.detail {
    
    .user-shopResource {
        .ms-container .ms-list{
            height: 60px;
        }
    }
    
    .user-roles {
        .ms-container .ms-list{
            height: 370px;
        }
    }
    
}